<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Residence ID</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
<div>
    <p><input id="creatNewResidenceIdNoBtn" name="creatNewResidenceIdNoBtn" type="button" value="產生新式居留證號" /></p>
    <p><input id="creatNewResidenceIdNo" name="creatNewResidenceIdNo" type="text" /><span id="checkResponse"></span></p>
</div>
</body>
<script type="text/javascript">
    $("#creatNewResidenceIdNoBtn").click(function () {
        $.ajax({
            url: window.location.origin + "/IDNOcreater/IDNO/creatNewRecidenceIdNo",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(data) {
                $("#creatNewResidenceIdNo").val(data.data.newResidenceIdNo).change();
            },
            error: function() {
                alert("ERROR!!!");
            }
        });
    });

    $("#creatNewResidenceIdNo").change(function () {
        var dataJSON = {};
        dataJSON["newResidenceIdNo"] = $("#creatNewResidenceIdNo").val();
        $.ajax({
            url: window.location.origin + "/IDNOcreater/IDNO/checkNewResidenceIdNo",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(dataJSON),
            success: function(data) {
                if(data.data.result){
                    $("#checkResponse").html("符合規則").css("color", "green");
                }else{
                    $("#checkResponse").html("不符合規則").css("color", "red");
                }
            },
            error: function() {
                alert("ERROR!!!");
            }
        });
    });
</script>
</html>